
.items-styles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  list-style: none;
  border: 2px dotted #302b63;
  margin-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: bolder;
}

.TodoItem-p {
  margin: 24px 0 24px 24px;
  font-size: 25px;
  line-height: 24px;
  font-weight: 700;
  color: white;
}

.TodoItem-p--complete {
  text-decoration: line-through;
  color: white;
  font-weight: 700;
}

.Icon {
  cursor: pointer;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.Icon-check--active {
  color: white;
}

.Icon-check:hover {
  color: white;
}

.Icon-delete:hover {
  color: white;
}


@media only screen and (max-width: 425px) {
  .items-styles {
    width: 70vw;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1em;
  }
  .TodoItem-p {
    margin: 10px 0 10px 10px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: white;
    position:relative;
  }
  .Icon {
    cursor: pointer;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
}