.form-control{
    border: 2px solid #302b63;

}
.input-form{
    height: 2em;
    border: 2px solid black;
    margin-bottom: 1.5em;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;

}
.input-form::placeholder {
    color: white;
    border: white;
}
.input-form:focus {
    outline-color: black;
    border: black;
}