@keyframes color {
  0%   { background: #8ecae6; }
  20%  { background: #219ebc; }
  40%  { background: #3fa9f5; }
  60%  { background: #ffb703; }
  80%  { background: #fb8500; }
  100% { background: #8ecae6; }
}
/* @keyframes color {
  0%   { background: #c3a995; }
  20%  { background: #ab947e; }
  40%  { background: #6f5e53; }
  60%  { background: #8a7968; }
  80%  { background: #593d3b; }
  100% { background: #c3a995; }
}
 */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #33CCCC; /* Fallback */
  animation: color 20s infinite linear;
  height: 100vw;
  color: white;
  font-family: 'Oswald', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
